

/* add some color - if you want color behind a major point on your website */

.banner_color {
  background-color: #feb818;
  font-weight:bold;

}

/* Style buttons - if you want some text centered and bolded */

.center {
  font-weight:bold;
  text-align: center;
}

/* Style buttons - for nav bar*/
.btn {
  background-color: #38b722;
  border: none;
  color: white;
  padding: 8px 20px;
  cursor: pointer;
  font-size: 14px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/* side sticky image*/



.box {
  width: 200px;
  height: 130px;
}

#one {
  position: fixed;
  top: 80px;
  height:40 px;
  right: 12px;
  background: #38b722;
  color:white;
  text-align: center;
}


/* making body more narrow to allow box on side */

/* To add some space below the navigation bar */

body {
  width: 80%;
  min-height: 100%;
  margin-top: 80px;
  margin: 20px;

}


/*flower code from Arnaud Leymet https://stackoverflow.com/questions/14695992/creating-a-css-flower-with-5-leaves */

/*didn't use this but could be fun*/
.flowerpetal { 
  width: 0; height: 0;
  position: absolute;
    left: 5px;
  padding: 40px 20px;
  background: rgba(0,0,0,2);
  border-top-left-radius: 99px;
  border-bottom-right-radius: 99px;
}


.leaf { 
  width: 10; height: 10;
  position: absolute;
    left: 15px;
  padding: 40px 20px;
  background: #38b722;
  transform: rotate(60deg);
  border-top-left-radius: 99px;
  border-bottom-right-radius: 99px;
}

.leafshape { 
  width: 60; height: 100;
  background: green;
  border-top-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

/*center header */

h1 {
  text-align: center;
  
}

/*h1::before {*/
/*  content: url('https://daseh.org/images/logo_favicon.png'); /* Replace with your image path */
/*  display: inline-block; /* Allows setting dimensions and margins */
/*  vertical-align: middle; /* Aligns image with the text baseline */
/*  margin-left: 10px; /* Adds spacing between the image and h1 text */
  /* Add other styling as needed, e.g., width, height */
/*}*/
